{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}  {% endblock %}</h1>




<h2 >How to use this</h2>

<h2>I haven't figure out what to put here yet. </h2>

<p style="background-color:Orange;color:White;">⦿Support<--If you have any question,Or the result is not correct, feel free to contact me anytime.Thank you
<address>
<b></strong>Michael Li <a href="mailto:michael.li@johnstonewaregroup.com">michael.li@johnstonewaregroup.com</a>.<br>
</b>
</address>
</p>


<p>Contact me if you have any issues</p>

<h2>It's your place in the world; it's your life. Go on and do all you can with it, and make it the life you want to live</h2>


{% endblock %}



