{% extends 'base.html' %}

{% block content %}
    <p><h1>{% block title %}Cyber Security Center {% endblock %}</h1>
    <div style="display: inline-block; margin-left: 50px; font-size:20px;font-weight:bold; color:grey" >----Authorized Only</div>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{message}}</div>
    {% endfor %}


<form action="/reset_password" method="post" onsubmit ="return validpwdForm()" >
    <label for="oldpassword">Old Password:</label><br>
  <input type="password" class="rounded ml-2" id="oldpassword" name="oldpassword" placeholder="Old Password">
    <span id = "message3" style="color:red"> </span><br><br>
    <label for="password">Password:</label><br>
  <input type="password" class="rounded ml-2" id="password" name="password" placeholder="Password">
    <span id = "message1" style="color:red"> </span><br><br>
    <label for="confirm">Confirm Password:</label><br>
  <input type="password" class="rounded ml-2" id="confirm" name="confirm" placeholder="Confirm Password">
<span id = "message2" style="color:red"> </span><br><br>
  <input type="submit" class="btn btn-primary ml-3 mt-4" value="submit">

</form>

<script>
function validpwdForm() {
    //collect form data in JavaScript variables
    var pw1 = document.getElementById("password").value;
    var pw2 = document.getElementById("confirm").value;
    var pw2 = document.getElementById("oldpassword").value;
    var oldpwd ={{password}};

    //check empty password field
    if(pw3 != oldpwd) {
      document.getElementById("message3").innerHTML = "**The old password doesn't match!";
      return false;
    }

    //check empty password field
    if(pw1 == "") {
      document.getElementById("message1").innerHTML = "**Fill the password please!";
      return false;
    }

    //check empty confirm password field
    if(pw2 == "") {
      document.getElementById("message2").innerHTML = "**Enter the password please!";
      return false;
    }

    //minimum password length validation
    if(pw1.length < 8) {
      document.getElementById("message1").innerHTML = "**Password length must be at least 8 characters";
      return false;
    }

    //maximum length of password validation
    if(pw1.length > 20) {
      document.getElementById("message1").innerHTML = "**Password length must not exceed 20 characters";
      return false;
    }

    if(pw1 != pw2) {
      document.getElementById("message2").innerHTML = "**Passwords are not same";
      return false;
    } else {
      alert ("Your password is reset");
     }
 }
</script>

<script src="/static/js/bootstable.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>


</script>

{% endblock %}
